body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-color: #0A2647;
    color: #EAFDFC;
}

.nav-bar{
    display: flex;
    justify-content: center;
}
.nav-bar li{
    margin: 10px;
    list-style: none;
}
.nav-bar li a{ 
   text-decoration: none;
   color: #EAFDFC;
}
.resume-btn{
    padding: 2px 10px;
    font-size: medium;
    background-color: #0A2647;
    border: 2px solid #11999E ;
    border-radius: 5px;
    color: #EAFDFC;
}
.resume-btn:hover{
    padding: 2px 10px;
    font-size: medium;
    background-color: #205295;
    cursor: pointer;
    border: 2px solid #11999E ;
    border-radius: 5px;
    color: #EAFDFC;
}
a{  
    text-decoration: none;
    color: #11999E;
}

main{
    margin: 10% 20%;
}
.small-heading{
    margin: 0px 0px 30px 4px;
    color: rgb(1, 205, 62);
    font-size: 20px;
    font-weight: 400;
}
.big-heading{
    font-size: 3rem;
}
.text{
    margin: 0px;
    font-size: 2rem;
}

footer{
    text-align: center;
}
footer a{
    margin: 5px;
}







    